{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Marujos</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{%static 'img/favicon.png'%}">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">
    <!-- Styles for members -->
    <link href="{% static 'css/members.css' %}" rel="stylesheet">

</head>

<body>

    {% include 'blog/header.html' %}
    <!-- Page Content -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <!-- /.container -->

    {% include 'blog/footer.html' %}

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>